@import "./reset.css";

.main-ipl {
    width: 656px ;
    height: 369px ;
    /* border: solid black 1px ; */
    border-radius: 10px ;
    background: url("https://img1.hscicdn.com/image/upload/f_auto,t_gn_w_656/lsci/db/PICTURES/CMS/312200/312222.6.jpg") ;
   /* border:1px solid black; */
}
#ipl-content{
    position: relative;
    z-index:-1;
    width: 60%;

}
*{
    border-radius: 10px;
}
#ipl-container{
display: flex;
width: 100vw;
/* margin: auto; */
justify-content: space-around;
}
#banner{
    overflow: hidden;
    width: 656px ;
    margin:auto ;
    position:relative;
    font-size: 22px ;
    margin-top: 30px;

}
.pos{
    position: absolute;
    bottom: 0;
    left:0;
    color:aliceblue ;
}

#banner:hover .main-ipl {
    transform: scale(1.05);
    transition: all 0.3s ease;
    overflow: hidden;
   
}
.general {
    width: 656px ;
    height: 187px ;
    margin: auto ;
    margin-top: 16px ;
    border-radius: 16px ;
    display:flex ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.general > #pic {
    height: 155px ;
    width: 210px ;
    margin: 16px ;
    border-radius: 15px ;
    margin-right: 8px;
    overflow: hidden;
}
.general > #text {
    height: 155px ;
    width: 398px ;
    margin: 16px ;
    border-radius: 5px ;
    margin-left: 8px;
}
#pic > img {
    width: 210px ;
    height: 155px ;
    border-radius: 5px ;
}
.heading:hover {
    color:dodgerblue ;
}
.heading {
    margin-top: 2px ;
    font-size: 22px;
    font-weight: bold;
}
.paragraph {
    margin-right: 8px ;
    margin-top: 10px;
    font-size: 18px;
}
#pic> img:hover {
    transform: scale(1.08);
    transition: all 0.3s ease;
}
#copyRight{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 2rem 1rem;
    width: 83.5vw;
    margin: auto;
    /* border: 1px solid red; */
    padding: 2rem 0;
    color: #6c6d6f;
    font-family: sans-serif;
    font-weight: 300;
    font-size: .8rem;
}

/* *********************************
############## sidebar by Prakash ##############
*************************************** */
#sidebar{
    width: 19%;
    margin: 0rem 2rem;;
}
#quickLink{
    width:100%;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1rem;
    /* border: 1px solid red; */
}
#quickLink>div{
    margin: 1rem 0;
    font-size:.75rem;
    color:#2b2c2d;
    line-height: 1.4rem;
}
#quickLink+div>img{
  width: 96%;
  padding: 1rem 0;
}
.sidePic{
    height: 35vh;
   margin-bottom: 1rem;
   padding: .3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   
}
.sidePic>img{
    width: 100%;
    
}
.sidePic>p{
  font-size: .75rem;
  font-weight: bold;
  padding-top: 1rem;
}
